<form action="/name_url/" method="post">
    <label for=name">Your Name: </label>
    <input id="name" type="text" name="name_field" value="Enter your name here.">
    <select>
        <option value="Chicago">Chicago</option>
        <option value="Los Angeles">Los Angeles</option>
        <option value="Seatle">Seatle</option>
        <option value="New York">New York</option>
    </select>
    <input type="submit" value="OK">
</form>